{% extends 'base.html' %}

{% block content %}

<h2>Transfer Money</h2>

<div class="card p-4 card-box" style="max-width:500px;">

    <p><b>Sender:</b> {{ sender.name }}</p>
    <p><b>Balance:</b> ₹{{ sender.balance }}</p>

    {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endif %}

    <form method="POST">
        {% csrf_token %}

        <div class="mb-3">
            <label>Receiver Account Number</label>
            <input type="text" name="receiver_account" class="form-control" required>
        </div>

        <div class="mb-3">
            <label>Amount</label>
            <input type="number" name="amount" class="form-control" required>
        </div>

        <button class="btn btn-success w-100">Transfer</button>
    </form>

</div>

{% endblock %}